body {
    font-family: 'Roboto', serif;
}

.Default {
    margin: 0 auto;
    padding: 30px;
}

.Index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Index-items {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

.About {
    display: flex;
    flex-direction: column;
}

.About-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.About-wrapper {
    display: flex;
    align-items: baseline;
}

.About-personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.About-professional {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Projects-item {
    padding: 10px;
}